*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#121212;
color:white;

}


header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

}


.logo{

width:70px;

}


nav a{

color:white;
text-decoration:none;
margin:15px;

}


.hero{

min-height:90vh;
display:flex;
align-items:center;
justify-content:space-around;
padding:50px;

}


.hero h1{

font-size:50px;

}


span{

color:#00e676;

}


.hero-logo{

width:250px;

animation:float 3s infinite;

}


.btn{

display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#00e676;
color:black;
border-radius:30px;

}


section{

padding:70px 8%;
text-align:center;

}



.cards{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}


.card{

background:#1e1e1e;
padding:30px;
border-radius:20px;
width:300px;

transition:.4s;

}


.card:hover{

transform:translateY(-15px);

}


.popular{

border:2px solid #00e676;

}



.social i{

font-size:35px;
margin:20px;
color:#00e676;

}


footer{

padding:20px;
text-align:center;

}


@keyframes float{

50%{
transform:translateY(-20px);
}

}


@media(max-width:700px){

.hero{

flex-direction:column;

}


.hero h1{

font-size:35px;

}

}